* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: "Work Sans", sans-serif;
}

.container {
  height: 100vh;
  background-color: tomato;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0rem 0rem;
  max-width: 100rem;
  font-size: 1.5rem;
  height: 80px;

  .header-geekers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  img {
    width: 50px;
  }
  .header-nav ul {
    display: flex;
    gap: 1.4rem;
  }
  .header-logo {
    display: flex;
    gap: 1.4rem;
    align-items: center;
  }

  li {
    list-style: none;
  }
}

footer {
  background-color: black;
  color: rgb(192, 192, 192);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-geekers {
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}
.dci-logo {
  width: 8rem;
}

@import "zoom";
@import "mediazoom";

a {
  text-decoration: none;
}

/* Header & Nav */
